Repository AET-DevOps25/team-git-push-force, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lenni108, @sfdamm, @ClaudiaDuenzinger

.github/CODEOWNERS:

# This file defines code ownership for automatic review assignments

# Default owners for everything in the repo
* @lenni108 @sfdamm @ClaudiaDuenzinger

# Specific service owners
/api/ @lenni108 @sfdamm
/client/ @lenni108
/gateway/ @sfdamm
/user-svc/ @ClaudiaDuenzinger
/concept-svc/ @lenni108
/genai-svc/ @sfdamm

# Infrastructure and CI/CD
/.github/workflows/ @sfdamm
/helm/ai-event-concepter/ @sfdamm
/helm/monitor/ @ClaudiaDuenzinger
/infrastructure/ @lenni108
/monitoring/ @ClaudiaDuenzinger

# Documentation
/docs/ @lenni108
*.md @lenni108 @sfdamm @ClaudiaDuenzinger

Deploying to gh-pages from @ AET-DevOps25/team-git-push-force@1f28e9595da6ef7c6fd4661ec2d5cd5e26186bc9 🚀
  api/gateway.html
  api/genai-service.html
Owners: @lenni108, @sfdamm

improve: documentation
  README.md
  TESTING.md
  concept-svc/README.md
  docs/index.html
  docs/uml/AI_Event_Concepter_UML_Component_Diagram.drawio
  docs/uml/AI_Event_Concepter_UML_Component_Diagram.drawio.svg
  gateway/README.md
  genai-svc/README.md
  infrastructure/README.md
  user-svc/README.md
Owners: @lenni108, @sfdamm, @ClaudiaDuenzinger

Clean up docker compose, remove local analytics setup
  docker-compose.yml
  monitoring/alertmanager.yml
  monitoring/prometheus.yml
  start-dev.sh
Owners: @lenni108, @sfdamm, @ClaudiaDuenzinger

doc: add hint for openwebui key
  README.md
Owners: @lenni108, @sfdamm, @ClaudiaDuenzinger

doc: improve quick start
  README.md
  api/README.md
  package.json
Owners: @lenni108, @sfdamm, @ClaudiaDuenzinger

Optimize prompt of GenAI, optimize codeGen ignore
  README.md
  docker-compose.yml
  genai-svc/services/concept_extractor.py
  genai-svc/services/llm_service.py
  genai-svc/services/response_generator.py
  genai-svc/services/welcome_generator.py
  genai-svc/test-requirements.txt
  genai-svc/test_genai_api.py
  genai-svc/test_minio_integration.py
  genai-svc/test_openwebui_connection.py
  user-svc/.openapi-generator-ignore
Owners: @lenni108, @sfdamm, @ClaudiaDuenzinger

Alertmanager
  helm/monitor/README.md
  helm/monitor/dashboards/AI Event Concepter - Application Overview.json
  helm/monitor/dashboards/sample-dashboard.json
  helm/monitor/templates/alertmanager-confiigmap.yaml
  helm/monitor/templates/alertmanager-deploy.yaml
  helm/monitor/templates/alertmanager-service.yaml
  helm/monitor/templates/prometheus-operator.yaml
  helm/monitor/values.yaml
Owners: @lenni108, @sfdamm, @ClaudiaDuenzinger

Add more unit tests for llm service to GenAI service
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  gateway/src/main/java/de/tum/aet/devops25/JwtAuthenticationFilter.java
  gateway/src/main/java/de/tum/aet/devops25/SecurityConfig.java
  genai-svc/requirements-dev.txt
  genai-svc/requirements.txt
  genai-svc/services/document_service.py
  genai-svc/services/welcome_generator.py
  genai-svc/tests/test_app.py
  genai-svc/tests/test_document_service.py
  genai-svc/tests/test_llm_integration.py
  genai-svc/tests/test_llm_service.py
  genai-svc/tests/test_minio_integration.py
  genai-svc/tests/test_openwebui_connection.py
  genai-svc/tests/test_response_generator.py
  genai-svc/tests/test_welcome_generator.py
  genai-svc/tox.ini
  package-lock.json
  user-svc/.openapi-generator/FILES
Owners: @sfdamm, @lenni108, @ClaudiaDuenzinger

Moved from dev to deployment
  helm/ai-event-concepter/values.yaml
  helm/monitor/templates/rbac.yaml
  helm/monitor/templates/servicemonitors.yaml
Owners: @sfdamm, @ClaudiaDuenzinger

Add email secret for alertmanager
  helm/monitor/templates/alertmanager-confiigmap.yaml
  helm/monitor/templates/alertmanager-deploy.yaml
  helm/monitor/templates/alertmanager-secret.yaml
  helm/monitor/templates/alertmanager-service.yaml
  helm/monitor/values.yaml
Owners: @ClaudiaDuenzinger

Fix: cd config
  .github/workflows/cd.yml
Owners: @sfdamm

hotfix: change prompt
  genai-svc/services/llm_service.py
Owners: @sfdamm

Deploying to gh-pages from @ AET-DevOps25/team-git-push-force@52243ead476149dcdbad68bf08da81500164209f 🚀
  index.html
  uml/AI_Event_Concepter_UML_Component_Diagram.drawio
  uml/AI_Event_Concepter_UML_Component_Diagram.drawio.svg
Owners: @lenni108, @sfdamm, @ClaudiaDuenzinger
